*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {

background-size: cover;
min-height: 100vh;
}
.header .navbar {
background-color: transparent !important;
}
.header2 {

background-size: cover;
min-height: 100vh;
}
.header2 .navbar {
background-color: transparent !important;
}
.navbar-nav.navbar-center {
position: absolute;
left: 50%;
transform: translatex(-50%);
}

.resaltado{
  color: #188a3a;
}
#marca{
  text-align: center;
}

#TContact
{
  color: #188a3a;
  font-family: 'Staatliches', cursive;
}

footer
{
  width: 100%;
  background: #202020;
  color: white;
}

.container-footer-all
{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.container-body
{
  display: flex;
}
.colum1
{
  max-width: 400px;
}

.colum1 h1{
  font-size: 20px;
}

.colum1 p{
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.colum2
{
  max-width: 400px;
}
.colum2 h1{
  font-size: 22px;
}
.row
{
  margin-top: 10px;
  display: flex;
}

.row img
{
  width: 36px;
  height: 36px;
}
.row label{
  margin-top: 9px;
  margin-left: 9px;
}

.topnav a {
color: black;
text-align: center;
padding: 14px 16px;
font-size: 17px;
border-bottom: 3px solid transparent;
}
.topnav #text:hover {
border-bottom: 3px solid #188a3a;
}

.topnav a.active {
border-bottom: 3px solid #188a3a;
}
