.playera{
	position: relative;
	top: 10px;
	left: -175px;
	
}
.short{
	position: relative;
	top: 10px;
	left: -8px;
	
}
.comentario{

	position: relative;
	top: 5px;
	left: -185px;
	
}
.btn 
{
	position: relative;
	top: 5px;
	left: 185px;
}
.btis
{
	position: relative;
	top: -25px;
	left: -190px;

}
.btis2
{
	position: relative;
	top: -25px;
	left: -190px;

}